body {
    margin:0px;
}
.nav {
    display: flex;
    justify-content: center; 
    gap: 100px;
    background: #242424;
    background: linear-gradient(0deg, rgb(242, 250, 6) 0%, #ec6b10 100%);
    padding: 15px;
    border-style: solid;
    border-right: 0;
    border-left: 0;
 
 }
 
.nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    transition: 0.15s;
    font-family: "Google Sans Code", monospace;;
 }
 
.nav a:hover {
    text-decoration: underline;
    font-size: 25px;
    color: cornflowerblue;
 }
.logo {
    max-width: 150px;
    margin-top: -70px;
    position:relative;
    z-index: 10
}

.btn {
    display: inline-block;
    font-family: Bahnschrift;
    padding: 10px 15px;
    background: linear-gradient(0deg, #ec6b10 0%, rgb(242, 250, 6) 100%);
    color: rgb(0, 0, 0);
    outline: 1px solid black;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover {
    background: linear-gradient(0deg, #b35408 0%, rgb(200, 220, 5) 100%);
}

h1 {
    text-align: center;
    position:relative;
    bottom:75px;
    font-family: Pacifico;
}

.content-boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: -50px;
}

.box {
    width: 400px;
    padding: 15px;
    background: #f5f5f5;
    border: 2px solid #ec6b10;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.2s ease-in-out;
}

.box:hover {
    transform: scale(1.05);
    background-color:#FDC816;
}

.box img {
    max-width: 40%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.box p {
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: #333;
    display: flex;
    justify-content: center;   
    align-items: center;       
    gap: 10px;
}

.box {
    display: block;
    text-decoration: none;
    color: inherit;
}

footer {
    background: #222;
    color: #fff;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  footer a {
    color: #f1c40f;
    text-decoration: none;
    margin: 0 8px;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  footer .copy {
    font-size: 0.9em;
    color: #bbb;
    margin-top: 10px;
  }


  .content-boxes1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: -50px;
}


.box1 {
    display:flex;
    width: 1000px;
    padding: 15px;
    background: #f5f5f5;
    border: 2px solid #ec6b10;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.2s ease-in-out;
    align-items:flex-end;
    display: flex;
    justify-content: space-between;

}

.box1:hover {
    transform: scale(1.05);
    background-color:#FDC816;
}

.box1 img {
    max-width: 10%;
    border-radius: 10px;
    display:flex
}

.box1 p {
    font-family: Arial, sans-serif;
    color: #333;       
    gap: 10px;
}

.popis{
    display:flex;
}


.nazev {
    font-size: 45px;
    font-weight: bold;
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.popis {
    font-size: 20px;
    margin: 5px 0 0 0;
    font-family: Arial, sans-serif;
    color: #444;
}

.texty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 0 20px;
}

.dekujeme {
    display: block;
    margin: 20px auto;
}

.diktxt {
    text-align: center;
    font-size: 50px;
    font-family: Bahnschrift;
}

.button-13 {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember",sans-serif;
  font-size: 30px;
  line-height: 60px;
  padding: 0 10px 0 11px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: 200px;
}

.button-13:hover {
  background-color: #f7fafa;
}

.button-13:focus {
  border-color: #008296;
  box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
  outline: 0;
}

.novinky {
    display:flex;
    width: 900px;
    padding: 15px;
    background: #f5f5f5;
    border: 2px solid #ec6b10;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.2s ease-in-out;
    align-items:flex-end;
    display: flex;
    justify-content: space-between;

}

.novinky:hover {
    background-color:#FDC816;
}

.novinky img {
    border-radius: 10px;
    display: flex;
    transition: transform 0.3s ease;
}
.novinky img:hover {
    transform: scale(1.05);
}


.novinky p {
    font-family: Arial, sans-serif;
    color: #333;       
    gap: 10px;
}


.formulare {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxformulare {
  padding: 20px;      
  width: 400px;       
  border: 2px solid #ccc;
  border-radius: 15px;
  background: #f9f9f9;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.formularinput {
  width: 100%;
  padding: 14px;      
  margin-top: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 18px;   
  box-sizing: border-box;
  transition: transform 0.3s ease;
}

.formulartlacitko {
  margin-top: 15px;
  padding: 15px 30px; 
  border: none;
  border-radius: 10px;
  background: linear-gradient(#f2fa06, #ec6b10);
  color: white;
  cursor: pointer;
  font-size: 20px;
  border: 2px solid black;
  transition: transform 0.3s ease;
}

.formulartlacitko:hover {
  background: linear-gradient(#c4d904,#c55a0d);
}

.formularinput:hover {
    transform: scale(1.05);
}

label {
  font-size: 18px;
  font-family: Calibri
}

.formmove {
  position: relative;
  top: 20px;
  left: -500px;
}

.staff img {
    max-width: 470px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.staff img:hover {
    transform: scale(1.05);
}

.formaction-tlacitka {

    padding: 4px 8px;
    font-size: 12px;
    border-radius: 6px;
    margin: 2px 0;
      
}

.formmove2 {
    position:relative;
    top: -150px;
}

.sleva {
    position: absolute;         
    top: 57px;                  
    left: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;        
    font-family: "Google Sans Code", monospace;;;
    font-size: 20px;
    color: #f2fa06;
    z-index: 1;
    background: black;
}

.sleva span {
    display: inline-block;
    padding-left: 100%;
    animation: sleva-scroll 30s linear infinite; /*RYCHLOST SCROLLING TEXTU*/
}

@keyframes sleva-scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.akce {
    display:flex;
    width: 900px;
    padding: 15px;
    background: #f5f5f5;
    border: 2px solid #ec6b10;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.2s ease-in-out;
    align-items:flex-end;
    display: flex;
    justify-content: space-between;

}

.akce img {
    border-radius: 10px;
    display: flex;
    transition: transform 0.3s ease;
}
.akce img:hover {
    transform: scale(1.02);
}


.akce p {
    font-family: Arial, sans-serif;
    color: #333;       
    gap: 10px;
}

.translate {
    position: absolute;
    top: 20px;       
    right: 20px;     
    z-index: 100;    
}

.translate a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    transition: 0.15s;
    font-family: "Google Sans Code", monospace;
}

.translate a:hover {
    text-decoration: underline;
    font-size: 25px;
    color: cornflowerblue;
}
